@model EmailData


        <!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                <!-- Start About Area  -->
                <div class="axil-about-us">
                    <div class="inner">
                        <h2>Say Hello! </h2>
                        <p class="primary-color">Email: <a href="mailto:ryanpenley@gmail.com">ryanpenley@gmail.com</a></p>
                    </div>
                    <!-- Start Contact Form  -->
                    <div class="axil-section-gapTop axil-contact-form-area">
                        <h4 class="title mb--10">Send me a Message</h4>
                        <p class="b3 mb--30">Your email address will not be published. All the fields are required.</p>
                        <form asp-action="ContactMe" asp-controller="Home" method="post">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input asp-for="EmailSenderName" id="contact-email" type="text">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Enter Your Email Address</label>
                                    <input asp-for="SenderEmailAddress" id="contact-email" type="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="contact-message">Message</label>
                                    <textarea asp-for="Body"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-submit">
                                    <button name="submit" type="submit" id="submit" class="axil-button button-rounded btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- End Contact Form  -->
                </div>
                <!-- End About Area  -->
            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <!-- Start Sidebar Area  -->
                <partial name="_Sidebar" />
                <!-- End Sidebar Area  -->
            </div>
        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->
