@model IEnumerable<AstraBlog.Models.BlogPost>
@using AstraBlog.Enums;
@using AstraBlog.Services.Interfaces

@inject IImageService _ImageService
@inject IBlogPostService _BlogService

@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Author Area  -->
<partial name="_AuthorArea" />
<!-- End Author Area  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Articles By This Author</h2>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8">
                @*ForEach BlogPost*@

                @foreach (var blogPost in Model)
                {
                    <partial name="_BlogCard" model="@blogPost"/>
                }




            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <!-- Start Sidebar Area  -->
                <partial name="_Sidebar" />
                <!-- End Sidebar Area  -->



            </div>
        </div>
    </div>
</div>
