@model IPagedList<BlogPost>

@using AstraBlog.Enums;
@using AstraBlog.Services.Interfaces
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;


@inject IImageService _ImageService
@inject IBlogPostService _BlogService

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Recent Posts on Humble Hacker</h2>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8">
                @*ForEach BlogPost*@

                @foreach (BlogPost blogPost in Model)
                {
                    <partial name="_BlogCard" model="@blogPost"/>
                }

                <div id="page-selector" class="mt-4">

                    @Html.PagedListPager(Model, pageNum => Url.Action("PopularPosts", new{ pageNum }),
                    new PagedListRenderOptions{
                    LiElementClasses = new string[] {"my-page-item"},
                    PageClasses = new string[] {"my-page-link"}
                    }
                    )

                </div>


            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <!-- Start Sidebar Area  -->
                <partial name="_Sidebar" />
                <!-- End Sidebar Area  -->



            </div>
        </div>
    </div>
</div>
