@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="axil-section-gapTop axil-contact-form-area">
    <h4 class="title mb--10">Reset Password</h4>
    <form id="account" method="post" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="row row-cols-1 g-2 pb-5">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="form-group">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" autocomplete="username" type="text">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                <button type="submit" class="axil-button button-rounded btn-primary mt-5">Reset Password</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
