html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.ck-editor__editable_inline {
   min-height: 600px;
}

.form-check-input {
   position: relative !important;
   opacity: 1 !important;
   width: initial !important;
   height: 1rem !important;
   margin: initial !important;
}



.form-check-input {
    position: relative !important;
}

.tagcloud > .disabledTag {
    background-color: lightgray;
    color: gray;
    font-weight: bold
}

.tagcloud a:hover {
    color: white !important;
}

.tagcloud a {
    color: black;
}

.tagcloud > .disabledTag:hover {
    background-color: lightgray;
    color: darkgray !important;
    border-color: lightgray;
}